{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row">
  
  {% for movie in object_list %}
  <div class="col-sm-4 col-md-2">
    <div class="card">
      <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{movie.poster}}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{movie.title}}</h4>
        <a href="{{movie.get_absolute_url}}" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}