POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=uu3otke)5d3u=(3+@*casy39%zv*ku*t)%)sbuwn1mdeu#_j17
DJANGO_ALLOWED_HOSTS=.royal-films.herokuapp.com
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_SERVER_NAME=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False

NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APP_NAME=royal-films


